.grids {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;

}

.grid {
    box-shadow: 0 0 3px black;
}

.grid_image {
    width: 100%;
    display: block;
}

.grid_cast {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: beige;
}

